In [1]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import utils
from yieldcurve import YieldCurve
import cashflow as cf

In [2]:
portfolio, market = utils.load_data()
TODAY = utils.set_today()

In [3]:
volume = 75000
maturity = 36
rate = 0.01
bull = cf.amortization_schedule(rate, maturity, volume, payment_type="BULLET")
lin = cf.amortization_schedule(rate, maturity, volume, payment_type='LINEAR')
ann = cf.amortization_schedule(rate, maturity, volume, payment_type='ANNUITY')

In [4]:
plot = False
EUR01 = YieldCurve(curve_type='EUR01', today=TODAY)
EUR01.fit(market, plot=plot)
date_list = utils.date_range('2016-01-01', '2035-01-01', 10)
spot_yields = EUR01.get_spot_yields(date_list, plot=plot)
forward_yields = EUR01.get_forward_yields(date_list, plot=plot)

date_list1 = utils.date_range('2016-01-01', '2035-01-01', 20)
date_list2 = utils.date_range('2016-01-01', '2035-01-01',10)
date_list2.append(datetime(2036,1,1))
floating_yields = EUR01.get_floating_yields(repayment_dates = date_list2, repricing_dates = date_list1, plot=plot)

In [5]:
cf.asset_cashflow(portfolio, market, 1, TODAY)

   id account       date   cashflow  interest  capital  remaining
0   1    cb_1 2014-10-01  930.03875   0.03875    930.0        0.0

In [6]:
portfolio_cashflow = cf.portfolio_cashflow(portfolio, market, TODAY)
portfolio_cashflow

        id  account       date    cashflow  interest  capital  remaining
0        1     cb_1 2014-10-01   930.03875   0.03875    930.0        0.0
1        2    mmp_1 2014-10-30     0.08190   0.08190      0.0     1404.0
2        2    mmp_1 2014-11-30  1404.08190   0.08190   1404.0        0.0
3        3    mmp_1 2014-10-15     0.08300   0.08300      0.0      996.0
4        3    mmp_1 2014-11-15     0.08300   0.08300      0.0      996.0
...    ...      ...        ...         ...       ...      ...        ...
10335  147  oth_l_1 2030-08-30     0.00000  -0.00000      0.0    -3930.0
10336  147  oth_l_1 2030-09-30     0.00000  -0.00000      0.0    -3930.0
10337  147  oth_l_1 2030-10-30     0.00000  -0.00000      0.0    -3930.0
10338  147  oth_l_1 2030-11-30     0.00000  -0.00000      0.0    -3930.0
10339  147  oth_l_1 2030-12-31 -3930.00000  -0.00000  -3930.0        0.0

[10340 rows x 7 columns]

In [7]:
present_values = cf.get_present_values(cashflows=portfolio_cashflow, market=market, today=TODAY)
present_values

      account       date  present_values
id
1        cb_1 2014-09-30      930.038331
2       mmp_1 2014-09-30     1404.173476
3       mmp_1 2014-09-30      996.267185
4        cl_1 2014-09-30      530.700425
5        cl_1 2014-09-30      689.098535
..        ...        ...             ...
143  ret_td_1 2014-09-30    -1235.085747
144  ret_td_1 2014-09-30    -2456.382170
145  ret_td_1 2014-09-30     -977.369632
146  ret_td_1 2014-09-30    -1277.097254
147   oth_l_1 2014-09-30    -3007.750957

[147 rows x 3 columns]